@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-af9dox');
	src:url('fonts/icomoon.eot?#iefix-af9dox') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-af9dox') format('truetype'),
		url('fonts/icomoon.woff?-af9dox') format('woff'),
		url('fonts/icomoon.svg?-af9dox#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-location3:before {
	content: "\e61b";
}
.icon-calendar:before {
	content: "\e619";
}
.icon-binoculars2:before {
	content: "\e617";
}
.icon-mail-forward:before {
	content: "\e604";
}
.icon-share:before {
	content: "\e603";
}
.icon-in:before {
	content: "\e61a";
}
.icon-exclamation:before {
	content: "\e61c";
}
.icon-grid:before {
	content: "\e61d";
}
.icon-menu2:before {
	content: "\e61e";
}
.icon-pin-alt:before {
	content: "\e61f";
}
.icon-checkmark:before {
	content: "\e620";
}
.icon-x:before {
	content: "\e621";
}
.icon-film:before {
	content: "\e610";
}
.icon-file-text2:before {
	content: "\e612";
}
.icon-location2:before {
	content: "\e616";
}
.icon-clock:before {
	content: "\e618";
}
.icon-plus:before {
	content: "\e608";
}
.icon-cross:before {
	content: "\e622";
}
.icon-play2:before {
	content: "\e611";
}
.icon-youtube4:before {
	content: "\e614";
}
.icon-star-1:before {
	content: "\e623";
}
.icon-star-0:before {
	content: "\e624";
}
.icon-star-2:before {
	content: "\e625";
}
.icon-link-external:before {
	content: "\e605";
}
.icon-link:before {
	content: "\e606";
}
.icon-eye:before {
	content: "\e607";
}
.icon-heart-o:before {
	content: "\e626";
}
.icon-facebook-square:before {
	content: "\e609";
}
.icon-chevron-right:before {
	content: "\e60a";
}
.icon-chevron-left:before {
	content: "\e60b";
}
.icon-location:before {
	content: "\e60c";
}
.icon-heart:before {
	content: "\e60d";
}
.icon-arrow-right:before {
	content: "\e60e";
}
.icon-sign-out:before {
	content: "\e60f";
}
.icon-eye2:before {
	content: "\e613";
}
.icon-refresh:before {
	content: "\e615";
}
.icon-uniE63B:before {
	content: "\e63b";
}
.icon-uniE63C:before {
	content: "\e63c";
}
.icon-uniE63E:before {
	content: "\e63e";
}
.icon-pencil2:before {
	content: "\e906";
}
.icon-hour-glass:before {
	content: "\e979";
}
.icon-fire:before {
	content: "\e9a9";
}
.icon-bin:before {
	content: "\e9ac";
}
.icon-circle-up:before {
	content: "\ea41";
}
.icon-circle-down:before {
	content: "\ea43";
}
.icon-more2:before {
	content: "\f70f";
}
.icon-more:before {
	content: "\f833";
}
.icon-search:before {
	content: "\e602";
}
.icon-menu:before {
	content: "\e600";
}
.icon-home:before {
	content: "\e601";
}
